.row-fluid
  .span10.offset1
    .alert.footer.alert-error
      %p
        Visit
        %a{href: 'http://arubystory.blogspot.com'}
          http://www.arubystory.com/p/tutorials.html
        if you want to follow the tutorial in order to create this application with Ruby on Rails!
      %p.text-right
        %strong
          Copyright 2013, <a href="http://twitter.com/lazaru_s" target="_blank">Lazarus Lazaridis</a>
