// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal form {
  margin-bottom: 0;
}

span.error {
  color: #ac1414;
  margin-left: 5px;
}
